{
  "plugins": ["transform-runtime", "transform-decorators-legacy",
    ["babel-plugin-module-alias", [
      { "src": "./assets", "expose": "assets" },
      { "src": "./lib/config", "expose": "config" },
      { "src": "./lib/persistence", "expose": "persistence" },
      { "src": "./lib/actions", "expose": "actions" },
      { "src": "./lib/components", "expose": "components" },
      { "src": "./lib/decorators", "expose": "decorators" },
      { "src": "./lib/utils", "expose": "utils" },
    ]]
],
  "presets": [ "es2015", "stage-0", "react" ],
  "env": {
    "development": {
      "plugins": [
        [ "react-transform", {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            },
            {
              "transform": "react-transform-catch-errors",
              "imports": [ "react", "redbox-react" ]
            }
          ]
        }]
      ]
    },
    "i18n": {
      "plugins": [
        [ "react-intl", {
          "messagesDir": "./_translations",
          "enforceDescriptions": false
        }]
      ]
    }
  }
}
