body {
  background: #f3f3f3;
  /*padding-top: 44px;*/
  background: url('../images/shl.png');
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbar {
  background-image: none;
  background-color: #fff;
  border: 1px solid #d5d5d5;
}

.navbar a {
  color: #666!important;
}

.no-padding {
  padding: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #3a87ad!important;
  background-color: #D9EDF7!important;
}

.navbar .navbar-nav>li>a, .navbar-brand {
  text-shadow: none!important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #555555!important;
    background-color: #F5F5F5!important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #555555!important;
    background-color: #F5F5F5!important;
}

.navbar-default .navbar-nav > .open > a {
    background-color: #fff!important;
    color: #555555!important;
}

.navbar-default .navbar-nav>.open>a/*, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus */{
    background-color: #178acc;
    /*color: #ffffff!important*/
}

.navbar-brand {
  /*background: url('http://www.carrefour.eu/sites/carrefour.eu/files/enseigne-type/start-logo-hyper-nl.png');
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-y: 5px;
  background-clip: border-box;
  padding-left: 75px;*/
}

.patternChooser {
  .form-group {
    padding: 0;
    padding-top: 10px;
    margin: 0;
    display: none;
    width: 150px;
  }
}

.wrap {
  margin-top: 80px;
}

.newline {
  white-space: pre-wrap;
}

.form-padding {
  padding-left: 30px;
}

.price {
  float: right;
  font-weight: bold;
}

.total-price {
  font-size: 20px;
}

.total-price-small {
  font-size: 14px;
}

.order-total {
  text-align: right;
  border-top: solid 1px #ddd;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 50px;
}

.order-total-small {
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 30px;
}

.paper {
  background-color: #fff !important;
  padding: 20px !important;
  /*padding-top: 60px !important;*/
}

.paper-small {
  background-color: #fff !important;
  padding: 10px 10px 0px 10px !important;
  margin-left: 20px;
}

.centered {
  text-align: center;
}

.carousel {
  height: 550px;
  margin-bottom: 60px;
}

.carousel-indicators {
  bottom: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
}

.request {

  .col-nav {
    padding-right: 0px;
  }

  .nav {
    margin-top: 0px;
    padding-top: 0px;
    /*background-color: #eee;*/
    padding-left: 0px;
  }

  .panel {
    margin-left: 0px;
    /*border-left: dotted 1px #008cba;*/
    padding-left: 60px;
    box-shadow: none;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1200px;
  }
}

.affix {
  font-size: 10px;
}

.application {
  opacity: 1;
}

.application.loading {
  opacity: 0.2;
  transition: opacity 600ms;
}

.error {
  /*background-color: #f00;*/
}

.required .form-group .control-label:before {
  content: "*";
  color: red;
}

.article {
  .img-responsive {
    margin: 0 auto;
  }
  img {
    min-height: 135px;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    text-decoration: none;
    padding-top: 4px;
    min-height: 45px;
    span {
      display: block;
    }
    .btn {
      margin-top: 8px;
    }
  }
  .thumb-info {
    padding-left: 20px;
    padding-right: 20px;
    .thumb-price {
      font-size: 16px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 5px;
    }
    .btn-add {
      margin-right: 3px;
      /*float: right;*/
    }
    .btn-remove {
      margin-left: 20px;
      float: left;
    }
    .thumb-qty{
      float: left;
      margin-left: 10px;
      font-size: 14px;
    }
  }
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  text-decoration: none;
}

.paper {
  &.loading {
    display: none
  }
}

.actions {
  padding-bottom: 20px;
}

.text-right {
  text-align: right;
}

.add-product {
  .form-group {
    float: left;
  }
  button {
    margin-left: 5px;
    margin-right: 10px;
    float: left;
  }
}

.order-actions {
  padding-bottom: 10px;
  padding-right: 10px;
}

.input-no-margin {
  .form-group {
    margin-bottom: 0px;
  }
}

/****************************************************************************
 * Beemuse: Paper
 *
 * Copyright 2014 ITMUSTBE, Inc.
 * Licensed under the MIT License
 * http://opensource.org/licenses/MIT
 *
 * Designed and built with all the buzz in the world @itmustbe
****************************************************************************/

// Colors

$white-light: #fafafa;
$white-dark: rgba(128, 128, 128, 0.1);
$vintage-light: #faf8f0;
$vintage-dark: rgba(128, 117, 64, 0.1);
$pink-light: #faf0f0;
$pink-dark: rgba(128, 64, 64, 0.1);
$green-light: #f3faf0;
$green-dark: rgba(85, 128, 64, 0.1);
$blue-light: #f0f6fa;
$blue-dark: rgba(64, 106, 128, 0.1);
$violet-light: #f2f0fa;
$violet-dark: rgba(74, 64, 128, 0.1);

// Paper

.paper {
  position: relative;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $white-light;
  border: 1px solid $white-light;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px $white-dark inset;
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -2;
  }
}

// Paper sizes

.paper-lg {
  padding: 24px;
}

.paper-sm {
  padding: 9px;
}

.paper-photo {
  padding: 0;
}

// Paper colors

.paper.paper-polar {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px $white-dark inset;
}

.paper.paper-vintage {
  background-color: $vintage-light;
  border: 1px solid $vintage-light;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px $vintage-dark inset;
}

.paper.paper-pink {
  background-color: $pink-light;
  border: 1px solid $pink-light;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px $pink-dark inset;
}

.paper.paper-green {
  background-color: $green-light;
  border: 1px solid $green-light;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px $green-dark inset;
}

.paper.paper-blue {
  background-color: $blue-light;
  border: 1px solid $blue-light;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px $blue-dark inset;
}

.paper.paper-violet {
  background-color: $violet-light;
  border: 1px solid $violet-light;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px $violet-dark inset;
}

// Lift

.paper-lift {
  &:before,
  &:after {
    bottom: 15px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    box-shadow: 0 15px 10px rgba(31, 31, 31, 0.7);
  }
  &:before {
    left: 10px;
    transform: rotate(-4deg);
  }
  &:after {
    right: 10px;
    transform: rotate(4deg);
  }
}

// Raise

.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 16px 10px -10px rgba(31, 31, 31, 0.5), 0 1px 4px rgba(31, 31, 31, 0.3);
}

// Curl

.paper-curl {
  border-radius: 0 0 120px 120px / 0 0 6px 6px;
  &:before,
  &:after {
    bottom: 12px;
    width: 50%;
    height: 55%;
    max-width: 200px;
    max-height: 100px;
    box-shadow: 0 8px 14px rgba(31, 31, 31, 0.5);
  }
  &:before {
    left: 6px;
    transform: skew(-8deg);
    transform: rotate(-3deg);
  }
  &:after {
    right: 6px;
    transform: skew(8deg);
    transform: rotate(3deg);
  }
}

.paper-curl-left {
  border-radius: 0 0 0 120px / 0 0 0 6px;
}

.paper-curl-right {
  border-radius: 0 0 120px 0 / 0 0 6px 0;
}

.paper-curl-left,
.paper-curl-right {
  &:before {
    @extend .paper-curl:before;
  }
  &:after {
    @extend .paper-curl:after;
  }
}

// Curve

.paper-curve:before {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.paper-curve-left,
.paper-curve-right {
  &:before {
    @extend .paper-curve:before;
    top: 10px;
    bottom: 10px;
    border-radius: 10px / 100px;
  }
}

.paper-curve-left {
  &:before {
    left: 0;
    right: 50%;
  }
}

.paper-curve-right {
  &:before {
    left: 50%;
    right: 0;
  }
}

.paper-curve-vert {
  &:before {
    @extend .paper-curve-left:before;
    right: 0;
  }
}

.paper-curve-above,
.paper-curve-below {
  &:before {
    @extend .paper-curve:before;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }
}

.paper-curve-above {
  &:before {
    top: 0;
    bottom: 50%;
  }
}

.paper-curve-below {
  &:before {
    top: 50%;
    bottom: 0;
  }
}

.paper-curve-horiz {
  &:before {
    @extend .paper-curve-below:before;
    top: 0;
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  /*margin-left: -1.5px;*/
  margin-left: -21px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 33px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: 10px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

//@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
  }

  ul.timeline > li > .timeline-badge {
    left: 5px;
    margin-left: 0;
    top: 25px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
//}

.timeline-body {
  font-size: 12px;
}

.bs-wizard {
  margin-top: 0px;
  margin-bottom: 20px;
}

/*Form Wizard*/
.bs-wizard {
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #5BC0DE;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard-stepnum {
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #5BC0DE;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/


/** tree **/

.tree-view {
  label {
    font-weight: normal;
  }
}
.tree-view-root {
}
.tree-view-node {
  margin-left: 10px;
}
.tree-view-node-collapse-toggle.collapse-spacer {
  width: 14px;
  display: inline-block;
}
.tree-view-node-collapse-toggle {
  margin-right: 3px;
  width: 14px;
}
.tree-view-node-label {
  margin-left: 3px;
  padding: 1px;
  border: 1px solid #fff;
}
.tree-view-node-label.selected {
  border: 1px solid #003f81;
  border-radius: 3px;
  background-color: #808080;
}
.tree-view-node-checkbox {}
.tree-view-node-children {}

/* end tree */


.navbar .divider-vertical {
  height: 16px;
  margin-top: 20px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #ccc;
  border-left-color: #666;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.modal-backdrop {
  opacity: 0!important;
  bottom: 0;
  top: 0;
}

.thumbContainer {
    width:  60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navigation-button {
  margin-right: 10px;
}


$ig-screen-sm-min: 768px;
$ig-white: #ffffff;
$ig-black: #222222;
$ig-blue: #337ab7;

.ImageGallery {

  a:hover, a:focus {
    text-decoration: none;
  }
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  .ImageGallery_content {
    position: relative;
    .ImageGallery_content_left_nav,
    .ImageGallery_content_right_nav {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      cursor: pointer;
      position: absolute;
      top: 48%;
      line-height: 0;
      z-index: 1;
      font-size: 6em;
      text-shadow: 0 2px 2px $ig-black;
      transition: all .2s ease-out;
      color: $ig-white;

      @media (max-width: $ig-screen-sm-min) {
        font-size: 4em;
      }

      &:hover {
        transform: scale(1.4);
        color: $ig-blue;
      }
    }

    .ImageGallery_content_left_nav {
      left: 0;
      &:before {
        padding: 50px 15px;
        content: '‹';
      }
    }

    .ImageGallery_content_right_nav {
      right: 0;
      &:before {
        padding: 50px 15px;
        content: '›';
      }
    }

    .ImageGallery_content_slides {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      .ImageGallery_content_slides_slide {
        opacity: 0;
        display: inline-block;
        width: 100%;

        &.left, &.center, &.right {
          transition: all .45s ease-out;
          position: absolute;
          top: 0;
          left: 0;
        }

        &.left {
          -moz-transform: translate3d(-100%, 0, 0);
          -webkit-transform: translate3d(-100%, 0, 0);
          -o-transform: translate3d(-100%, 0, 0);
          -ms-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
        }

        &.center {
          opacity: 1;
          -moz-transform: translate3d(0, 0, 0);
          -webkit-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          &.relative {
            position: relative;
          }
        }

        &.right {
          -moz-transform: translate3d(100%, 0, 0);
          -webkit-transform: translate3d(100%, 0, 0);
          -o-transform: translate3d(100%, 0, 0);
          -ms-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
        }

        img {
          width: 100%;
        }

      }
    }

  }

  .ImageGallery_bullet_container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    .ImageGallery_bullet_container_bullets {
      margin: 0;
      padding: 0;

      .ImageGallery_bullet_container_bullets_bullet {
        cursor: pointer;
        padding: 5px;
        border: 1px solid $ig-white;
        box-shadow: 0 1px 0 $ig-black;
        margin: 0 5px;
        display: inline-block;
        border-radius: 50%;

        @media (max-width: $ig-screen-sm-min) {
          padding: 3px;
          margin: 0 3px;
        }

        &.active {
          background: $ig-white;
        }
      }
    }
  }

  .ImageGallery_thumbnail_container {
    overflow: hidden;
    background: $ig-white;
    padding-top: 10px;
    .ImageGallery_thumbnail_container_thumbnails {
      cursor: pointer;
      text-align: center;
      white-space: nowrap;
      transition: all .45s ease-out;

      .ImageGallery_thumbnail_container_thumbnails_thumbnail {
        padding-right: 10px;
        display: inline-block;

        img {
          width: 100px;
          vertical-align: middle;
          transition: border .3s ease-out;
          border: 4px solid transparent;
          @media (max-width: $ig-screen-sm-min) {
            width: 75px;
            border: 3px solid transparent;
          }
        }

        &.active {
          img {
            border: 4px solid $ig-blue;
            @media (max-width: $ig-screen-sm-min) {
              border: 3px solid $ig-blue;
            }
          }
        }
      }
    }
  }

}

/* CSS used here will be applied after bootstrap.css */
.article_thumbnail_container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom:20px;
  img{
    max-height:100%;
    max-width:100%;
  }
}

.article_thumbnail {
  position:absolute;
  width:100%;
  height:100%;
}
.article_thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.page-transition-enter {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}
.page-transition-leave {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}

.hoverTable {
  cursor: pointer
}

.input-group {
  width: 100%
}
