body {
  padding-top: 85px;
}
.container {
  max-width: 1050px;
}
.drop {
  padding-top: 50px;
  padding-bottom: 70px;
}

.drop-button {
  margin-top: 10px;
}

.navbar {
  z-index: 1450;
}

.affixed {
  clear: both;
  height: 100px;
  z-index: 1400;
  .well {
    /*background-color: rgba(249, 249, 249, 0.95);*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }
  .drop {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .cloud {
    width: 40px!important;
    margin-left: 20px;
    margin-top: 14px;
    float: right;
  }
  .drop-button {
    float: right;
  }
}

@media only screen and (max-width : 990px) {
    .well {
    }
    .drop {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .cloud {
      width: 40px!important;
      margin-left: 20px;
      margin-top: 14px;
      float: right;
    }
    .drop-button {
      float: right;
    }
}
